<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I have been working IT since school and profesionally since a few years. I am supporter of the open source, Linux and Embedded systems. <br/><br/>
			I have interest in embedded devices, home aoutomation, robotics and self-control systems. 
		</div>
		<br>
	</div>
</div>
